body,span,a,p,h1,h2,h3,h4,h5,h6{
    font-family: 'Spartan', sans-serif;
}
.header{
    background: #e6e6e6;
    z-index: 111;
}
nav .header-logo{
    width: 30%;
}
nav .header-logo img{
    width: 100px;
    margin-bottom: -4px;
}
nav ul li:first-child a{
    color: blue;
    position: relative;
}
nav ul li:first-child a::after{
    content: "";
    position: absolute;
    top: 48px;
    left: 10%;
    height: 3px;
    width: 80%;
    background: blue;
    transition: 0.5s;
}
nav ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 600;
    color: #acabab;
    transition: 0.5s;
    position: relative;
}
nav ul li a::after {
    content: "";
    position: absolute;
    top: 48px;
    left: 10%;
    height: 3px;
    width: 0;
    background: blue;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 80%;
}
nav ul li a:hover{
    color: blue;
}
nav ul li{
    position: relative;
}
nav ul li ul{
    list-style: none;
    position: absolute;
    top: 201%;
    left: 0;
    width: 180px;
    background: blue;
    border: 10px solid #fff;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;


}
nav ul li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 150%;
}
nav ul li ul li{}
nav ul li ul li a{
    color: #fff  !important; 
    display: inline-block;
    padding: 20px;
    text-align: center;
    
}
.btn {
    color: blue;
    text-decoration: none;
    display: inline-block;
    background: #ffffff;
    padding: 10px 28px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    transition: 0.5s;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: blue;
    transition: 0.5s;
    z-index: -1;
    border-radius: 25px;
}
.btn:hover::before{
    width: 100%;
}
.btn:hover{
    color: #fff ;
}
/*** Slider Section start ****/
.slider{
    overflow: hidden;
    background: #edf6ff;
}
.slider-img {
    height: 600px;
    width: 600px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    top: -129px;
    right: -270px;
}
.slider-img img{
   height: 100%;
   width: 100%;
}
img{
    max-width: 100%;
}
.slider-text h1{}
.slider-text p {
    color: #606060;
    margin: 27px 0;
    line-height: 1.5;
}
.slider-text a.slider-btn {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background: blue;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 25px;
    transition: 0.5s;
    
}
.slider-text a.slider-btn:hover{
    color: blue;
    background: #fff;
}
/*** Slider Section End ****/
/*** Service Section Start ***/
.service{}
.service-text{}
.service-text span {
    font-size: 18px;
    display: inline-block;
    margin: 13px 0;}

.service-text h1 {
    font-size: 33px;
    margin: 10px 0;
    position: relative;
}
.service-text h1::after {
    content: "";
    position: absolute;
    top: 85px;
    left: 10px;
    background: blue;
    height: 3px;
    width: 50px;
}
.service-text p {
    width: 600px;
    margin: 28px 0px;
}
.card-title h3{
    font-size: 20px;
    transition: 0.5s;
}
.card-icon span{
    position: relative;
}
.card-icon span::after {
    content: "";
    position: absolute;
    top: 68px;
    left: 0;
    height: 3px;
    width: 50%;
    background: blue;
    transition: 0.5s;
}
.card-icon span {
    display: inline-block;
    background: blue;
    height: 60px;
    width: 60px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    font-size: 23px;
    border-radius: 30px 30px 30px 0;
    margin: 17px 0;
    transition: 0.5s;
}
.card-text p {
    font-size: 15px;
    color: #606060;
    margin: 10px 0;
    transition: 0.5s;
}
.card{
    background: #f9fcff;
    transition: 0.5s;
}
.card:hover{
    background: blue;
}
.card:hover .card-title h3{
    color: #fff;
}
.card:hover .card-icon span{
    background: #fff;
    color: blue;
}
.card:hover .card-icon span::after{
    background: #fff;
    transform: scale(1.2);
}
.card:hover .card-text p{
    color: #fff;
}

/*** Service Section End ***/
/*** Content Section Start ***/
.content{
    background:linear-gradient(rgba(46,63,158,0.500), rgba(46,63,158,0.500)), url(./img/video-bg.jpg) no-repeat top center;
    background-size: cover;
    height: 110vh;
    width: 100%;
    background-attachment: fixed;
    
}
.content-text {
    margin-top: 60px;
}
.content-text h4 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 15px 0;
}
.content-text h2 {
    font-size: 29px;
    margin-bottom: 29px;
}
.content-text p {
    width: 50%;
    margin: 0 auto;
    line-height: 1.4;
    margin-bottom: 100px;
}
.play-btn span {
    display: inline-block;
    color: blue;
    background: #fff;
    height: 70px;
    width: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 35px;
    border-radius: 50%;
    margin-bottom: 34px;
    position: relative;
}
.play-btn span::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    height: 90px;
    line-height: 90px;
    width: 90px;
    border: 1px solid rgb(252, 251, 251);
    border-radius: 50%;
    animation: animation 2s ease-in-out infinite;
}
.play-btn span::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    height: 80px;
    line-height: 90px;
    width: 80px;
    border: 1px solid rgb(252, 248, 248);
    border-radius: 50%;
    animation: animation 2s ease-in-out infinite;
}
@keyframes animation{
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(1.5);
        opacity: 0;
    }
}
/*** Content Section End ***/